.lobby {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: left;
    background: #303030;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 2rem;
}
.lobby label {
    padding-top: .5rem;
    padding-bottom: .5rem;
}
.lobby a {
    background: #242424;
    padding: .5rem 1rem;
    border-radius: 8px;
    margin-top: 2rem;
    color: #2979FF;
    transition: 0.2s all ease-in-out;
}
.lobby a:hover {
    background: #2979FF;
    color: #242424;
}
.ready-button {
    background: #242424;
    padding: .5rem 1rem;
    border-radius: 8px;
    border: none;
    margin-top: 2rem;
    color: #2979FF;
    transition: 0.2s all ease-in-out;
}
.ready-button:hover {
    background: #2979FF;
    color: #242424;
    border: none;
}